<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <!--job1 setting-->
    <bean name="Sync-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncData" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="Sync-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="Sync-Job" />
        <property name="cronExpression" value="0 30 6 ? * MON-FRI *" />
    </bean>
    
    <!--job2 setting-->
    <bean name="HandleUnfinishedSchedule-Job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="handleUnfinishedSchedule" />
        <property name="targetMethod" value="execute"/>  
        <property name="concurrent" value="false"/>
    </bean>
    
    <bean id="HandleUnfinishedSchedule-Trig" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="HandleUnfinishedSchedule-Job" />
        <property name="cronExpression" value="0 30 22 ? * MON-FRI *" />
    </bean>

    <!--schedule jobs-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="Sync-Trig"/>
                <ref bean="HandleUnfinishedSchedule-Trig"/>
            </list>
        </property>
        <property name="schedulerName">
            <value>jobScheduler</value>
        </property>
        
        <property name="configLocation">
            <value>classpath:quartz.properties</value>
        </property>
    </bean>
    
</beans>